@import "../../../../style/app.variables";

.component {
  .content {
    border: 5px solid;
    border-color: $color-blue-grey;
  }

  .footer {
    background-color: $color-blue-grey;
  }

  /deep/ .panel-default {
    position: relative;
  }

  .section-content, .section-head {
    border-bottom: 5px solid $color-blue-grey;
    background-color: white;
  }

  .section-content {
    /deep/ .search {
      position: absolute;
      right: 0;
      top: 0;

      button {
        background-color: $color-blue-grey;
        border-color: $color-blue-grey;
      }
    }
  }

  .section-head, .section-content {
    &.last {
      border-bottom: none;
    }
  }

  .panel-open {
    .section-head {
      border: none;
    }
  }
}
/deep/
.add-btn {
  background: $color-bluey-grey;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 10rem;
  border: none;
}
