<div class="component">
  <terms-conditions-header></terms-conditions-header>
  <section class="content">
    <accordion [closeOthers]="true">
      <accordion-group #groupTerms [isOpen]="true">
        <div accordion-heading class="terms-conditions-with-search">
          <h4 class="section-head">Terms & conditions</h4>
        </div>
        <div class="section-content">
          <my-search [hidden]="!groupTerms.isOpen"></my-search>
          <terms-conditions-row [paragraphs]="paragraphs"></terms-conditions-row>
        </div>
      </accordion-group>
      <accordion-group #groupComments>
        <div accordion-heading>
          <h4 class="section-head">Comments</h4>
        </div>
        <div class="section-content">
          <my-search [hidden]="!groupComments.isOpen"></my-search>
          <comments-row [paragraphs]="paragraphs"></comments-row>
        </div>
      </accordion-group>
      <accordion-group #groupVote>
        <div accordion-heading>
          <h4 class="section-head with-subhead last">Vote</h4>
          <h6 class="section-subhead">Propose changes to the Terms & Conditions</h6>
        </div>
        <div class="section-content last">
          <vote-row></vote-row>
        </div>
      </accordion-group>
    </accordion>
  </section>
</div>
