@import '../../../../../../../style/app.variables.scss';

.component-section {
  background-color: $color-blue-grey;
}

.component-section {
  .create-invitation-row {
    border: 5px solid $color-blue-grey;
    background-color: $color-white-three;
    border-top: none;
  }
  .section-content, .section-head {
    //background-color: white;
  }

  .panel-open {
    .section-head {
      border: none;
    }
  }
}

.panel {
  background-color: white;
}
