@import '../../../../../../../style/app.variables.scss';
accordion-group {
  background-color: white;
}

.component-section {
  background-color: $color-blue-grey;
}

.component-section {
  .create-invitation-row {
    border: 5px solid $color-blue-grey;
    border-top: none;
  }
  .section-content, .section-head {
    background-color: white;
    //margin-left: 5px;
    //margin-right: 5px;
  }

  .panel-open {
    .section-head {
      border: none;
    }
  }
}

.panel {
  background-color: white;

}
