<section class="">
  <invitation-project-information [project]="project"></invitation-project-information>
  <invitation-additional-information [project]="project" ></invitation-additional-information>
  <invitation-terms-conditions [project]="project"></invitation-terms-conditions>

  <div class="row">
    <div>Invitees</div>
    <span *ngFor="let company of companies">
      {{company}}
    </span>
    <button class="btn btn-default">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col-md-6 offset-md-3">
   <div class="invitation-review-holder">
      <button class="btn btn-default btn-lg">Finish and send Invitation</button>
    </div>
  </div>
</section>
