.payments {
  background-color: #113d57;
  height: 100vh;
  h3 {
    margin-top: 7.12890625%;
    padding-left: 20px;
    //margin-left: 9.9609375%
  }
  .my-settings {
    padding: 0;
    border: 0;
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
  }
  .add-btn {
    padding: 0;
    border: 0;
    background: url(assets/add/drawable-mdpi/add_project.png);
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1800px) {
  .payments {
    .my-settings {
      padding: 0;
      border: 0;
      //background: url(assets/projectSettings/drawable-hdpi/my_settings.png);
      width: 45px;
      height: 45px;
      //#607D8B
    }
    .add-btn {
      padding: 0;
      border: 0;
      background: url(assets/add/drawable-hdpi/add_project.png);
      width: 45px;
      height: 45px;
    }
  }
}
