<section class="payments">
  <div class="row">
    <h3 style="color: white" class="offset-md-1 col-md-3">MY PROJECTS</h3>
    <div class="offset-md-6 col-md-1" style="margin-top: 9.12890625%">
      <button class="my-settings pull-right" (click)="userSettings.show()"></button>
    </div>
  </div>
    <projects-table [projects]="projects"></projects-table>
  <div class="row">
    <div class="offset-md-10 col-md-1">
      <button class="add-btn pull-right" (click)="lgModal.show()">
      </button>
    </div>
  </div>
</section>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <add-project-modal [lgModal]="lgModal" (saved)="saved($event)"></add-project-modal>
</div>


<div bsModal #userSettings="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <add-user-settings-modal [modal]="userSettings"></add-user-settings-modal>
</div>

