<div class="container-fluid">

  <div class="row">
    <nav class="col-md-1 col-sm-2 nav nav-pills nav-stacked">
      <ul class="nav nav-sidebar">
        <li>
          <a [routerLink]=" ['/projects']">
            <img src="assets/icons/my_projects.png"
                 height="54"
                 width="90"
                 class="img-fluid"/>
            <!--<i class="fa fa-book" aria-hidden="true"></i>-->
            <!--<span>My Projects</span>-->
          </a>
        </li>
        <li>
          <a [routerLink]=" ['./overview'] "  routerLinkActive="active">
            <img src="assets/icons/checked.png"
                 height="54"
                 width="78"
                 class="img-fluid"/>
            <!--<i class="fa fa-file-text-o" aria-hidden="true"></i>-->
            <!--<span>Overview</span>-->
          </a>
        </li>
        <li>
          <a [routerLink]=" ['./invitation']"  routerLinkActive="active">
            <img src="assets/icons/letter.png"
                 height="54"
                 width="78"
                 class="img-fluid">
            <!--<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
            <!--<span>Invitation</span>-->
          </a>
        </li>
        <li>
          <a [routerLink]=" ['./detail'] "  routerLinkActive="active" class="disabled">
            <img src="assets/icons/t_c.png"
                 height="54"
                 width="90"
                 class="img-fluid"/>
            <!--<i class="fa fa-file-o" aria-hidden="true"></i>-->
            <!--<span>Terms & Conditions</span>-->
          </a>
        </li>
        <li>
          <a [routerLink]=" ['./contract']"  routerLinkActive="active" class="disabled">
            <img src="assets/icons/contract.png"
                 height="54"
                 width="78"
                 class="img-fluid"/>
            <!--<i class="fa fa-files-o fa-flip-horizontal"></i>-->
            <!--<span>Contract</span>-->
          </a>
        </li>
        <li>
          <a [routerLink]=" ['./payments']"  routerLinkActive="active" class="disabled">
            <img src="assets/icons/payment_bank.png"
                 height="54"
                 width="78"
                 class="img-fluid"/>
            <!--<i class="fa fa-university" aria-hidden="true"></i>-->
            <!--<span>Payment</span>-->
          </a>
        </li>
      </ul>
      <!--<a class="nav-link" href="#">Active</a>-->
      <!--<a class="nav-link" href="#">Link</a>-->
      <!--<a class="nav-link" href="#">Link</a>-->
      <!--<a class="nav-link disabled" href="#">Disabled</a>-->
    </nav>
    <!--<div class="col-sm-2 col-md-1 sidebar">-->
      <!--<ul class="nav nav-sidebar">-->
        <!--<li>-->
          <!--<a [routerLink]=" ['/projects']">-->
            <!--<i class="fa fa-book" aria-hidden="true"></i>-->
            <!--<span>My Projects</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]=" ['./overview'] "  routerLinkActive="active">-->
            <!--<i class="fa fa-file-text-o" aria-hidden="true"></i>-->
            <!--<span>Overview</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]=" ['./invitation/create']"  routerLinkActive="active">-->
            <!--<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
            <!--<span>Invitation</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]=" ['./detail'] "  routerLinkActive="active">-->
            <!--<i class="fa fa-file-o" aria-hidden="true"></i>-->
            <!--<span>Terms & Conditions</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]=" ['./contract']"  routerLinkActive="active">-->
            <!--<i class="fa fa-files-o fa-flip-horizontal"></i>-->
            <!--<span>Contract</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]=" ['./payments']"  routerLinkActive="active">-->
            <!--<i class="fa fa-university" aria-hidden="true"></i>-->
            <!--<span>Payment</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <div class="col-md-11 col-sm-10 main">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <footer>
  </footer>
</div>
