<div class="comments">
  <div class="row comment-container" *ngFor="let comment of comments;">
    <div class="col-md-12 comment-header">
      <strong class="paragraph-number">PARAGRAPH {{comment.paragraphNumber}}</strong>
      <span class="comment-user-bank">{{comment.userName}} - {{comment.bankName}}</span> <span class="comment-date"> {{comment.date}}</span>
    </div>
    <div class="col-md-12"><span class="comment-text">{{comment.text}}</span></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 center-content">
    <button class="btn btn-lg add-btn" (click)="commentModal.show()">
      ADD COMMENT
    </button>
  </div>
</div>

<div bsModal #commentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <add-comment-modal [modal]="commentModal"></add-comment-modal>
</div>
