<section class="component">
  <project-overview-header class="header" [isBankOwner]="isBankOwner"></project-overview-header>
  <section class="content" [ngClass]="{'bank-owner': (isBankOwner | async) === true, 'participant': (isBankOwner | async) == false}" [ngSwitch]="isBankOwner | async">
    <div *ngSwitchCase="true">
      <accordion [closeOthers]="true">
        <accordion-group [panelClass]="'create-invitation-row'" #group [isOpen]="true" class="create-invitation-row">
          <div accordion-heading>
            <h4 class="section-head">Project Information</h4>
          </div>
          <div class="section-content">
            <overview-project-information></overview-project-information>
          </div>
        </accordion-group>
        <accordion-group #group>
          <div accordion-heading>
            <h4 class="section-head">Invitation Status</h4>
          </div>
          <div class="section-content">
            <overview-invitation-status></overview-invitation-status>
          </div>
        </accordion-group>
        <accordion-group #group>
          <div accordion-heading>
            <h4 class="section-head">Financial Status</h4>
          </div>
          <div class="section-content" style="border-bottom: none">
            <overview-financial-status></overview-financial-status>
          </div>

        </accordion-group>
      </accordion>

    </div>

    <div *ngSwitchCase="false">
      <overview-participant-project-information></overview-participant-project-information>
    </div>
  </section>
  <footer *ngIf="!(isBankOwner | async)" class="footer" [ngClass]="{'bank-owner': (isBankOwner | async), 'participant': !(isBankOwner | async)}"></footer>


</section>

