
@import "../../../../style/app.variables";

.component {
  .content {
    border: 5px solid;
    &.participant {
      border-color:  $color-bluey-grey;
    }
    &.bank-owner {
      border-color: $color-blue-grey;
    }
  }

  .footer {
    &.participant {
      background-color:  $color-bluey-grey;
    }
    &.bank-owner {
      background-color: $color-blue-grey;
    }
  }

  .section-content, .section-head {
    border-bottom: 5px solid #84a6b6;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
  }

  .panel-open {
    .section-head {
      border: none;
    }
  }
}
