.timer-row {
}

.modal-content {
  background-color: #fbfbfb;
  margin-top: 25%;
  .modal-header {
    border: 0;
  }
  .modal-body {
    label {
      font-family: Avenir-Medium;
      color: #4a4a4a;
      margin-top: 5px;
    }
  }
  .modal-footer {
    border: 0;
  }
}


.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

//@keyframes heartbeat {
//  0%
//  {
//    transform: scale( 1 );
//  }
//  20%
//  {
//    transform: scale( 0.75 );
//  }
//  40%
//  {
//    transform: scale( 1 );
//  }
//  60%
//  {
//    transform: scale( 0.75 );
//  }
//  80%
//  {
//    transform: scale( 1);
//  }
//  100%
//  {
//    transform: scale( 0.75 );
//  }
//}

@keyframes heartbeat {
  0%
  {
    transform: scale( 0.75 );
  }
  50% {
    transform: scale(1);
  }
  100%
  {
    transform: scale( 0.75 );
  }
}


.time {
  color: red;
  animation: heartbeat 1.5s infinite;
}

