@import "./variables";
@import "./app.variables";
@import "./mixins";
@import '~bootstrap/scss/bootstrap.scss';
@import "./header";
@import "./sidebar";
@import "./font-awesome/scss/font-awesome";
@import "./custom/custom-table.css";
@import "./custom/custom-table.scss";
@import '~ng2-toasty/style.css';
@import '~ng2-toasty/style-bootstrap.css';

.container-fluid {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}

section {
  .section-content, .section-head {
    padding: 0 30px 20px;
  }

  .section-head {
    padding: 40px 30px;
  }

  .accordion-toggle {
    text-decoration: none;
    color: $body-color;
    outline:none;
  }

  h2, h4 {
    margin: 0;
  }
}

.component {
  display: flex;
  flex-flow: column;
  height: 100vh;
  .header {
    flex: 0 1 auto;
  }

  .content {
    flex: 1 1 auto;
    border: 5px solid $color-bluey-grey
  }

  .footer {
    background-color: $color-bluey-grey;
    flex: 0 1 90px;
  }
}


.white {
  color: #fff;
}



//dt {
//  font-family: $font-family-avenir-black;
//}
//
//dd {
//  font-family: $font-family-athelas-regular;
//}
