@import "./variables";
@import "./mixins";
@import '~bootstrap/scss/bootstrap-flex.scss';
@import "./header";
@import "./sidebar";
@import "./font-awesome/scss/font-awesome";
@import "./custom/custom-table.css";
@import "./custom/custom-table.scss";

.container-fluid {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}

section {
  .section-content, .section-head {
    padding: 0 30px 20px;
  }

  .section-head {
    padding: 40px 30px;
  }

  .accordion-toggle {
    text-decoration: none;
    color: $body-color;
    outline:none;
  }

  h2, h4 {
    margin: 0;
  }
}

.component-section {

}

.btn-green {
  color: #fff;
  background-color: $greeny-blue;
  border-color: $greeny-blue;
}
.btn-red {
  color: #fff;
  background-color: $dark-red;
  border-color: $dark-red;
}
