
// Font families
$font-family-avenir-black: Avenir-Black, Avenir, serif;
$font-family-avenir:       Avenir, serif;
$font-family-big-caslon-medium: 'BigCaslon-Medium', serif;
$font-family-athelas-regular: Athelas-Regular, serif;

//Colors
$color-light_navy: #113d57;
$color-bluey-grey: #a3c0c0;
$color-white-two:  #d8d8d8;
$color-darkish-pink: #db4c63;
$color-white: #fff;
$color-blue-grey: #84a6b6;
$color-white-three: #fbfbfb;
$color-warm-grey: #9b9b9b;
$color-greyish-brown: #4a4a4a;
$color-grey: #efeff0;
