// styles applied on :host are applied on the current component, "app" in this case
body, main {
  min-height: 100vh;
}

:host {
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
.dropdown-menu {
  width: 100%;
  .dropdown-item {
    color: #9b9b9b;
    &.active {
      background-color: rgba(163, 192, 192, 0.3);
    }
    &:hover {
      color: #9b9b9b;
    }
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
