<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Add comment</h4>
    </div>
    <form [formGroup]="addCommentForm" (ngSubmit)="save()">
    <div class="modal-body">
      <label for="loanTermID">Paragraph</label>
      <div class="form-group">
        <select type="text" class="form-control"
                id="loanTermID"
                formControlName="loanTermID">
          <option value="null">Select paragraph</option>
          <option *ngFor="let paragraph of paragraphs | async" [ngValue]="paragraph.loanTermID">{{paragraph.paragraphNumber}}</option>
        </select>
      </div>

      <label for="commentText">Comment text</label>
      <div class="form-group">
          <textarea class="form-control"
                    rows="10"
                    id="commentText"
                    formControlName="commentText">
          </textarea>
      </div>

    </div>
    <div class="modal-footer center-content">
      <button type="submit" class="btn edit-button">SAVE</button>
    </div>
    </form>
  </div>
</div>
