  <div class="row" style="height: 60vh;">
    <div class="offset-md-1 col-md-10 mt-2" style=" display:flex; z-index: 0; padding-right: 34px">
      <div class="col-md-6" style=" background-color: #84a6b6; margin-right: 10px">
        <h4  style="color: white" class="mt-1">Project</h4>
      </div>
      <div class="col-md-3" style=" background-color: #84a6b6; margin-right: 10px">
        <h4 style="color: white" class="mt-1">Role</h4>
      </div>
      <div class="col-md-3" style=" background-color: #84a6b6; margin-right: 10px">
        <h4  style="color: white" class="mt-1">Status</h4>
      </div>
    </div>
    <div class="offset-md-1 col-md-10 mt-2" style=" position:absolute; height: 60vh; padding-left: 0;padding-right: 0; display:flex; z-index: 1">
      <div class="list-group" style="display: flex;flex-direction: column; flex: 1 0; margin-top:60px">
        <button type="button" class="list-group-item list-group-item-action" style="margin-bottom: 10px; flex-shrink: 0" (click)="goToProject(project.loanRequestID)"
                *ngFor="let project of (projects | async); let i = index"
                [hidden]="i > 8">
          <span class="row flex-items-xs-middle">
            <span class="col-md-6">{{project.projectName}}</span>
            <span class="col-md-3">{{project.role}}</span>
            <span class="col-md-3">{{project.status}}</span>
          </span>
        </button>
      </div>
    </div>
  </div>
