div.modal-content {
  background-color: #fbfbfb;
  margin-top: 25%;
  .modal-header {
    border: 0;
  }
  .modal-body {
    label {
      font-family: Avenir-Medium;
      color: #4a4a4a;
      margin-top: 5px;
    }
  }
  .modal-footer {
    border: 0;
  }
}
