<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Add new Project <small>(my role: Arranger Bank)</small> </h4>
    </div>
    <form [formGroup]="projectForm" (ngSubmit)="save()">
      <div class="modal-body">
        <label for="borrower">Borrower</label>
        <div class="input-group">
          <input type="text" class="form-control" id="borrower" formControlName="borrowerId">
        </div>

        <label for="project-name">Project Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="project-name" formControlName="projectName">
        </div>
        <label for="contact-person">Contact Person</label>
        <div class="input-group">
          <input type="text" class="form-control" id="contact-person" formControlName="contactPersonName">
        </div>
        <label for="amount">Amount</label>
        <div class="input-group">
          <input type="text" class="form-control" id="amount" formControlName="amount">
        </div>
        <label for="market-industry">Market & Industry</label>
        <div class="input-group">
            <textarea type="text" class="form-control" id="market-industry" formControlName="marketIndustry">
            </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn" style="background-color: #a3c0c0">
          <span style="color: white">Add</span>
        </button>
      </div>
    </form>
  </div>
</div>
