<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" [innerHtml]="title"></h4>
    </div>
    <form [formGroup]="projectForm" (ngSubmit)="save()">
      <div class="modal-body">
        <label for="borrower">Borrower</label>
        <div class="input-group">
          <input type="text" class="form-control" id="borrower" formControlName="borrowerID">
        </div>

        <div class="form-control-feedback error-message" *ngIf="(isFormSubmitted || projectForm.controls.borrowerID.touched) && !!projectForm.controls.borrowerID.errors">Borrower name is required</div>
        <label for="project-name">Project Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="project-name" formControlName="projectName">
        </div>
        <div class="form-control-feedback error-message" *ngIf="(isFormSubmitted || projectForm.controls.projectName.touched) && !!projectForm.controls.projectName.errors">Project name is required</div>
        <label for="contact-person">Contact Person</label>
        <div class="input-group">
          <input type="text" class="form-control" id="contact-person" formControlName="contactPersonName">
        </div>
        <div class="form-control-feedback error-message" *ngIf="(isFormSubmitted || projectForm.controls.contactPersonName.touched) && !!projectForm.controls.contactPersonName.errors">Contact name is required</div>
        <label for="amount">Amount</label>
        <div class="input-group">
          <input type="text" class="form-control" id="amount" formControlName="loanSharesAmount">
        </div>
        <div class="form-control-feedback error-message" *ngIf="(isFormSubmitted || projectForm.controls.loanSharesAmount.touched) && !!projectForm.controls.loanSharesAmount.errors">Amount is required</div>
        <label for="market-industry">Market & Industry</label>
        <div class="input-group">
            <textarea type="text" class="form-control" id="market-industry" formControlName="marketAndIndustry">
            </textarea>
        </div>
        <div class="form-control-feedback error-message" *ngIf="(isFormSubmitted || projectForm.controls.marketAndIndustry.touched) && !!projectForm.controls.marketAndIndustry.errors">Amount is required</div>
      </div>
      <div class="modal-footer">
        <div [ngSwitch]="!!isUpdateMode">
          <div *ngSwitchCase="true">
            <div class="row">
              <div class="offset-md-1 col-md-5">
                <button type="button"  class="btn btn-success btn-block" (click)="showTerminateModal()"><span>Terminate</span></button>
              </div>
              <div class="col-md-5">
                <button type="submit" class="btn btn-danger btn-block"><span>Update</span></button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="false">
            <button type="submit" class="btn" style="background-color: #a3c0c0">
              <span style="color: white">Add</span>
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
