<div class="invitation container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="invitation-search-holder">
        <input type="text" [ngbTypeahead]="search" [inputFormatter]="formatter" (selectItem)="selectParticipant($event)" placeholder="Search for finance partners" [resultTemplate]="rt"  class="form-control form-control-lg"/>
      </div>
    </div>
    <button class="btn col-md-2 flex-xs-middle btn-success btn-lg" (click)="nextTab(noInviteeModal)"><span>Next</span></button>
  </div>
  <div class="row invitees-row flex-items-xs-middle">
    <div class="col-md-2">
      <h4 class="text-xs-right">Selected Invitees</h4>
    </div>
    <div class="col-md-10" class="image-container">
      <span *ngFor="let company of selectedInvitees" class="image-container">
        <img height="48px" width="48px" class="img-fluid" [src]="company.image" (click)="removeSelectedInvitee(company)">
      </span>
    </div>
  </div>


    <div *ngFor="let partner of (participants$ | async)">
      <select-invitees-partner (selectInvitee)="addSelectedInvitee($event)" (unselectInvitee)="removeSelectedInvitee($event)" [partner]="partner"></select-invitees-partner>
    </div>


    <!--<ul>-->
    <!---->
        <!--<li *ngFor="let partner of partners" class="col-md-12" style="background-color: white">-->
            <!--{{partner}}-->
        <!--</li>-->
    <!--</ul>-->

    <!--<div class="col-md-6 offset-md-3">-->
        <!--<div class="invitation-review-holder">-->
            <!--<button class="btn btn-default btn-lg">Review</button>-->
        <!--</div>-->
    <!--</div>-->
</div>


<!-- Large modal -->

<div bsModal #noInviteeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="margin-top: 50%">
      <div class="modal-body">
        <div class="container">
          <div class="offset-md-2 col-md-8" style="text-align: center">
            <h4 class="h4" style="color: #4a4a4a">
              You can not send the invitation without choosing one or more participating banks
            </h4>
          </div>
        </div>
        <div class="offset-md-5 col-md-2 m-t-2">
          <button class="btn btn-default btn-block" style="background-color: #db4c63; line-height: 3vh" (click)="noInviteeModal.hide()">
            <span style="color: white">
              Ok
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<template #rt let-r="result" let-t="term" style="width: 100%">
  {{ r.participantName}}
</template>
