<div class="row">
  <div class="col-md-2 mr-1">
    <h5>Finance Covering</h5>
  </div>

</div>
<div class="row">
  <div class="col-md-9">
    <div class="progress mt-1">

      <div class="progress-bar progress-bar-warning" style="background: #113d57;width:40%" role="progressbar">
        Committed
      </div>
      <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%; background-color: #a3c0c0">
        Interested
      </div>
      <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%; background-color: #d8d8d8">
        Left
      </div>
    </div>
  </div>

</div>

