<div class="row">
  <div class="col-md-2 mr-1">
    <h5>Finance Covering</h5>
  </div>

</div>
<div class="row">
  <div class="col-md-9">
    <div class="row mt-1">
      <div class="col-md-3">0%</div>
      <div class="col-md-3">25%</div>
      <div class="col-md-3">50%</div>
      <div class="col-md-2">75%</div>
      <div class="col-md-1 flex-items-xs-right" style="display: flex"><span>100%</span></div>
    </div>

    <div class="progress" style="height: 40px;">
      <div class="progress-bar progress-bar-warning"
           style="background: #113d57;
           width:40%;
           display: flex;
           font-size: large;
            justify-content: center" role="progressbar">
        <span style="align-self: center;">Committed</span>

      </div>
      <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%; background-color: #a3c0c0;
       display: flex;
       font-size: large;
       justify-content: center">
        <span style="align-self: center;">Interested</span>

      </div>
      <div class="progress-bar progress-bar-success" role="progressbar"
           style="width:10%;
            font-size: large;
            background-color: #d8d8d8;
            display: flex;
            justify-content: center">
        <span style="align-self: center;">Left</span>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-2 mr-1">
    <h5>Loan Distribution</h5>
  </div>


</div>
<div class="row">
  <div class="offset-md-2 col-md-6" style="height: 300px;">
    <canvas
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="'pie'"
      [options]="barChartOptions"
      baseChart>
    </canvas>
  </div>
</div>


