  <div class="row">
    <h4 class="offset-md-1 col-md-11">Project Information</h4>
    <dt class="offset-md-1 col-md-1">
      <span>
        Borrower
      </span>
    </dt>
    <dd class="col-md-10">
      {{project.borrower}}
    </dd>
    <dt class="offset-md-1 col-md-1">
      <span>
        Project name
      </span>
    </dt>
    <dd class="col-md-10">
      {{project.projectName}}
    </dd>
    <dt class="offset-md-1 col-md-1">
      <span>
        Amount
      </span>
    </dt>
    <dd class="col-md-10">
      {{project.loanAmount}}
    </dd>
    <dt class="offset-md-1 col-md-1">
      <span>
        Market & Industry
      </span>
    </dt>
    <dd class="col-md-10">
      {{project.marketIndustry}}
    </dd>
  </div>

