  <div class="row">
    <h4 class="offset-md-1 col-md-11">Project Information</h4>
    <dt class="pl-3 offset-md-1 col-md-2 text-xs-left">
      <span>
        Borrower
      </span>
    </dt>
    <dd class="col-md-9">
      {{project.borrower}}
    </dd>
    <dt class="pl-3 offset-md-1 col-md-2 text-xs-left">
      <span>
        Project name
      </span>
    </dt>
    <dd class="col-md-9">
      {{project.projectName}}
    </dd>
    <dt class="pl-3 offset-md-1 col-md-2 text-xs-left">
      <span>
        Amount
      </span>
    </dt>
    <dd class="col-md-9">
      {{project.loanSharesAmount}}m Statoil
    </dd>
    <dt class="pl-3 offset-md-1 col-md-2 text-xs-left">
      <span>
        Market & Industry
      </span>
    </dt>
    <dd class="col-md-9">
      {{project.marketAndIndustry}}
    </dd>
  </div>

