@import '../../../../../style/app.variables';

.row {
  background-color: $color-white-three;
  border: 5px solid #84a6b6;
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  h4 {
    color: #9b9b9b;
    font-family: Avenir-Medium;
    margin-bottom: 10px;
  }
  dt {
    span {
      //margin-left: 10%;
    }
  }
}

