.login {
  background-color: #113d57;
  height: 100vh;

  .logo {
    color: white;

    font-family: 'BigCaslon-Medium', 'Times New Roman';
    font-size: 144px;
    font-size: 14vw;
    text-align: center
  }

  .login-btn {
    padding: 0;
    background: url(assets/login/drawable-mdpi/add.png);
    width: 82px;
    height: 43px;
  }
}
@media (min-width: 2000px) {

  .login {
    .login-btn {
      padding: 0;
      background: url(assets/login/drawable-hdpi/add.png);
      width: 123px;
      height: 65px;
    }
  }
}

.white-two {
  color: #d8d8d8;
}

.error-message {
  color: #db4c63;
  font-family: Avenir-Black;
}

