
.login {
  background-color: #113d57;
  height: 100vh;

  .logo {
    color: white;
    padding-top: 18.48vmin;

    font-family: 'BigCaslon-Medium', 'Times New Roman';
    font-size: 144px;
    font-size: 15.1vw;
    text-align: center
  }

  .login-btn {
    background: #a3c0c0;

    span {
      color: white;
      font-family: Avenir-Black;
    }
  }
}

.white-two {
  color: #d8d8d8;
}

.error-message {
  color: #db4c63;
  font-family: Avenir-Black;
}

